<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-applepay" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <author>Gokula Kannan</author>

    <name>Hyper Pay</name>
    <description>Implements Apple Pay.</description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>https://github.com/Developer-Geekay/cordova-plugin-hyperpay</repo>

    <js-module name="HyperPay" src="www/hyperpay.js">
        <clobbers target="cordova.plugins.HyperPay" />
    </js-module>

    <platform name="ios">
        <!-- <hook type="after_prepare" src="hooks/ios/iOSCopyPreferences.js" /> -->

        <config-file parent="/*" target="config.xml">
            <feature name="HyperPay">
                <param name="ios-package" value="HyperPay" />
            </feature>
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <header-file src="src/ios/HyperPay.h" />
        <source-file src="src/ios/HyperPay.m" />

        <framework src="src/ios/Frameworks/OPPWAMobile.xcframework" custom="true" embed="true" />
        <framework src="src/ios/Frameworks/ipworks3ds_sdk.xcframework" custom="true" embed="true" />
        <framework src="PassKit.framework" />

        <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
            <array>
                <string>merchant.riyadcapital.rcmobileu.uat</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
            <array>
                <string>merchant.riyadcapital.rcmobileu.uat</string>
            </array>
        </config-file>
        
        <!-- <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
            <array>
                <string>APPLE_PAY_MERCHANT_ID</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
            <array>
                <string>APPLE_PAY_MERCHANT_ID</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayMerchantID">
            <string>APPLE_PAY_MERCHANT_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayMerchantName">
            <string>APPLE_PAY_MERCHANT_NAME</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayMerchantCountryCode">
            <string>APPLE_PAY_MERCHANT_COUNTRY_CODE</string>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayPaymentAllowedNetworks">
            <array>APPLE_PAY_PAYMENT_ALLOWED_NETWORKS</array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayPaymentSupportedCapabilities">
            <array>APPLE_PAY_PAYMENT_SUPPORTED_CAPABILITIES</array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayPaymentSupportedCardCountries">
            <array>APPLE_PAY_PAYMENT_SUPPORTED_CARD_COUNTRIES</array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayShippingSupportedContacts">
            <array>APPLE_PAY_SHIPPING_SUPPORTED_CONTACTS</array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayBillingSupportedContacts">
            <array>APPLE_PAY_BILLING_SUPPORTED_CONTACTS</array>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayPaymentGateway">
            <dict>
                <key>ApplePayPaymentGatewayName</key>
                <string>APPLE_PAY_PAYMENT_GATEWAY_NAME</string>

                <key>ApplePayRequestURL</key>
                <string>APPLE_PAY_PAYMENT_REQUEST_URL</string>

                <key>ApplePayStripePublishableKey</key>
                <string>APPLE_PAY_PAYMENT_STRIPE_PUBLISHABLE_KEY</string>
            </dict>
        </config-file> -->
    </platform>
</plugin>